body {
 font-family: fantasy;   
}


main {
 
    display:flex;
    justify-items: flex-start;
    font-size:20px;
    
     
}

article{
    
    width: 400px; 
    padding: 2px;
    margin: 20px;
    border-radius: 8px;
    border: 1px solid black; 
    background: white;
    box-shadow: 1px 2px 12px lightgray;
    
}

article div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    margin: 18px;
    
}

.card-header{

margin-top: 10px
    
}


.card-subtitle {
    color: grey;
  }

.card-buttons{

    justify-content: center;
    border-top: 5px;
    border-bottom: 5px;
}

.card-pasfoto{
    justify-content: right;
    margin-right: 150px;
    width: 45px;
    height: 45px;
  }  

  .green-button{
    border-color: green;
    border-radius: 10px;
    background-color: white;
    padding:10px;
    width:200px;
  }
    .red-button{
        border-color: red;
        border-radius: 10px;
        background-color: white;
        border-style: solid;
    padding:10px;
    width:200px;

    }

    p{
        color:rgb(92, 91, 91);
    }

    .card-pasfoto{
        margin-right: 15px;
        width: 45px;
        height: 45px;
    }
    